{% extends 'base.html.twig' %}

{% block title %}Edit Expediente{% endblock %}

{% block body %}
    <h1>Edit Expediente</h1>

    {{ include('expediente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('expediente_index') }}">back to list</a>

    {{ include('expediente/_delete_form.html.twig') }}
{% endblock %}
