{% extends 'baseLogin.html.twig' %}

{% block title %}Iniciar Sesion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" align="center">Inicio de Sesión</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus>
    <br/>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br/>
    <div class="mx-auto" style="width: 100px;">
        <button class="btn btn-sm btn-primary" type="submit">Iniciar Sesión</button>    
    </div>
</form>
{% endblock %}
