{% extends 'base.html.twig' %}

{% block title %}Editar Clinica{% endblock %}

{% block body %}
    {{ include('clinica/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-secondary" href="{{ path('clinica_index') }}">Atras</a>
{% endblock %}
