{% extends 'base.html.twig' %}

{% block title %}Nueva Clinica{% endblock %}

{% block body %}
    {{ include('clinica/_form.html.twig') }}
    {%if (is_granted('ROLE_PERMISSION_INDEX_CLINICA')) %}
    	<a class="btn btn-secondary" href="{{ path('clinica_index') }}">Atras</a>
  	{% endif %}
{% endblock %}
