{% extends 'base.html.twig' %}

{% block title %}Yo soy para admin{% endblock %}

{% block body %}
<a href="{{path('doctor_index')}}">Lista de Doctores</a>
<a href="{{path('clinica_index')}}">Lista de Clinicas</a>
{% endblock %}
