{% extends 'base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}

<a href="{{path('doctor_index')}}">Lista de Doctores</a>
<br/>
<a href="{{path('clinica_index')}}">Lista de Clinicas</a>
<br/>
<a href="{{path('expediente_index')}}">Lista de Pacientes</a>
<br/>
<a href="{{path('rol_index')}}">Lista de Roles</a>


{% endblock %}
