<form method="post" action="{{ path('anexo_delete', {'id': anexo.id}) }}" onsubmit="return confirm('¿Está seguro de querer borrar este anexo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anexo.id) }}">
    <button class="btn">Eliminar</button>
</form>
