{% extends 'base.html.twig' %}

{% block title %}Nuevo Anexo{% endblock %}

{% block body %}
    {{ include('anexo/_form.html.twig') }}
    {% if is_granted('ROLE_PERMISSION_INDEX_ANEXO') %}
    	<a class="btn btn-sm btn-secondary" href="{{ path('anexo_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atrás</a>
    {% endif %}
{% endblock %}
