{% extends 'base.html.twig' %}

{% block title %}Edit ExamenHecesQuimico{% endblock %}

{% block body %}

    {{ include('examen_heces_quimico/_form.html.twig', {'button_label': 'Update'}) }}

   <a href="{{ path('examen_heces_quimico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">back to list</a>


{% endblock %}
