{% extends 'base.html.twig' %}

{% block title %}New ExamenHecesQuimico{% endblock %}

{% block body %}
    <h1>Create new ExamenHecesQuimico</h1>

    {{ include('examen_heces_quimico/_form.html.twig') }}

   <a href="{{ path('examen_heces_quimico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">back to list</a>
   
{% endblock %}
