{% extends 'base.html.twig' %}

{% block title %}Registrar Sala{% endblock %}

{% block body %}
    {{ include('sala/_form.html.twig') }}
    {%if (is_granted('ROLE_PERMISSION_INDEX_SALA')) %}
    	<a class="btn btn-secondary" href="{{ path('sala_index',{'clinica':clinica.id}) }}">Atras</a>
    {% endif %}
{% endblock %}
