{% extends 'base.html.twig' %}

{% block title %}Editar Examen{% endblock %}

{% block body %}
    {{ include('examen_orina_macroscopico/_form.html.twig', {'button_label': 'Update'}) }}
    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_orina_macroscopico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
{% endblock %}
