{% extends 'base.html.twig' %}

{% block title %}Edit ExamenOrinaMacroscopico{% endblock %}

{% block body %}
    <h1>Edit ExamenOrinaMacroscopico</h1>

    {{ include('examen_orina_macroscopico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('examen_orina_macroscopico_index') }}">back to list</a>

    {{ include('examen_orina_macroscopico/_delete_form.html.twig') }}
{% endblock %}
