{% extends 'base.html.twig' %}

{% block title %}Editar Genero{% endblock %}

{% block body %}
    {{ include('genero/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-secondary" href="{{ path('genero_index') }}">Atras</a>
{% endblock %}
