{% extends 'base.html.twig' %}

{% block title %}Editar Genero{% endblock %}

{% block body %}
    {{ include('genero/_form.html.twig', {'button_label': 'Update'}) }}
    {%if (is_granted('ROLE_PERMISSION_INDEX_GENERO')) %}
      <a class="btn btn-secondary" href="{{ path('genero_index') }}">Atras</a>
    {% endif %}
    
{% endblock %}
