{% extends 'base.html.twig' %}

{% block title %}Nuevo Genero{% endblock %}

{% block body %}
    {{ include('genero/_form.html.twig') }}
    <a class="btn btn-secondary" href="{{ path('genero_index') }}">Atras</a>
{% endblock %}
