{% extends 'base.html.twig' %}

{% block title %}Nuevo Genero{% endblock %}

{% block body %}
    {{ include('genero/_form.html.twig') }}
    {%if (is_granted('ROLE_PERMISSION_INDEX_GENERO')) %}
      <a class="btn btn-secondary" href="{{ path('genero_index') }}">Atras</a>
    {% endif %}
{% endblock %}
