{% extends 'base.html.twig' %}

{% block title %}Edit ExamenHecesMicroscopico{% endblock %}

{% block body %}
    {{ include('examen_heces_microscopico/_form.html.twig', {'button_label': 'Update'}) }}

    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_heces_microscopico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
{% endblock %}
