{% extends 'base.html.twig' %}

{% block title %}New ExamenHecesMacroscopico{% endblock %}

{% block body %}
    <h1>Create new ExamenHecesMacroscopico</h1>

    {{ include('examen_heces_macroscopico/_form.html.twig') }}

    <a href="{{ path('examen_heces_macroscopico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">back to list</a>
{% endblock %}
