{% extends 'base.html.twig' %}

{% block title %}Edit Especialidad{% endblock %}

{% block body %}
    {{ include('especialidad/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-secondary" href="{{ path('especialidad_index') }}">back to list</a>
{% endblock %}
