{% extends 'base.html.twig' %}

{% block title %}Nueva Especialidad{% endblock %}

{% block body %}
    {{ include('especialidad/_form.html.twig') }}
    {%if (is_granted('ROLE_PERMISSION_INDEX_ESPECIALIDAD')) %}
    	<a class="btn btn-secondary" href="{{ path('especialidad_index') }}">Atras</a>
  	{% endif %}
{% endblock %}
