{% extends 'base.html.twig' %}

{% block title %}Detalles de la Especialidad{% endblock %}

{% block body %}
    {{ include('especialidad/_formShow.html.twig') }}
    <a class="btn btn-secondary" href="{{ path('especialidad_index') }}">Atras</a>
    <a class="btn btn-primary" href="{{ path('especialidad_edit', {'id': especialidad.id}) }}">Editar</a>
{% endblock %}
