{% extends 'base.html.twig' %}

{% block title %}Edit TipoHabitacion{% endblock %}

{% block body %}
    {{ include('tipo_habitacion/_form.html.twig', {'button_label': 'Update'}) }}
    {%if (is_granted('ROLE_PERMISSION_INDEX_TIPO_HABITACION')) %}
    	<a class="btn btn-secondary"  href="{{ path('tipo_habitacion_index') }}">Atras</a>
    {% endif %}
{% endblock %}
