{% extends 'base.html.twig' %}

{% block title %}Registrar Tipo de Habitacion{% endblock %}

{% block body %}
    {{ include('tipo_habitacion/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('tipo_habitacion_index') }}">Atras</a>
{% endblock %}
