{% extends 'base.html.twig' %}

{% block title %}Nueva Cita{% endblock %}

{% block body %}
    {{ include('cita/_form.html.twig') }}
    <a class="btn btn-secondary" href="{{ path('cita_calendar',{'expediente': expediente.getId()}) }}">Atras</a>
{% endblock %}
