{% extends 'base.html.twig' %}

{% block title %}Edit ExamenOrinaQuimico{% endblock %}

{% block body %}
    <h1>Edit ExamenOrinaQuimico</h1>

    {{ include('examen_orina_quimico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('examen_orina_quimico_index') }}">back to list</a>

    {{ include('examen_orina_quimico/_delete_form.html.twig') }}
{% endblock %}
