<form method="post" action="{{ path('camilla_delete', {'id': camilla.id}) }}" onsubmit="return confirm('¿Está seguro de querer borrar esta camilla?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ camilla.id) }}">
    <button class="btn">Borrar</button>
</form>
