{% extends 'base.html.twig' %}

{% block title %}Editar Camilla{% endblock %}

{% block body %}
    {{ include('camilla/_form.html.twig', {'button_label': 'Update'}) }}
    {% if(is_granted('ROLE_PERMISSION_INDEX_CAMILLA')) %}
    	<a class="btn btn-secondary" href="{{ path('camilla_index', {'habitacion':habitacion.id}) }}">Atrás</a>
    {% endif %}
{% endblock %}
