{% extends 'base.html.twig' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Cambiar Contraseña</h5>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}