{% extends 'base.html.twig' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
	  	<div class="col-md-12">
	    	<div class="card">
		    	<h5 class="card-header">Cambiar Contraseña</h5>
		      	<div class="card-body">
		    		{{form_start(form)}}
		    			<div class="d-flex justify-content-center">
		    				<div class="row" align="center">
		    					<div class="col-md-2"></div>
		    					<div class="col-md-8">
			    					<label for="passwordActual">Contraseña Actual:</label>
			    					<input class="form-control" type="password" id="password_actual" name="password_actual" required="true">
			    				</div>
			    				<div class="col-md-2"></div>
			    				<div class="col-md-2"></div>
			    				<div class="col-md-8">
			    					<label for="passwordActual">Nueva Contraseña:</label>
			    					<input class="form-control" type="password" id="nueva_password" name="nueva_password" required="true">
			    				</div>
			    				<div class="col-md-2"></div>
			    				<div class="col-md-2"></div>
			    				<div class="col-md-8">
			    					<label for="passwordActual">Confirmar Contraseña:</label>
			    					<input class="form-control" type="password" id="confirmar_nueva_password" name="confirmar_nueva_password" required="true">
			    				</div>	
			    				<div class="col-md-2"></div>
		    				</div>
		    			</div>
		    			<br/>
		    			<div class="d-flex justify-content-center">
		    				<div class="row">
			    				<div class="col-md-12">
			    					{{form_widget(form.guardar)}}
			    				</div>    			
			    			</div>
		    			</div>
		    		{{form_end(form)}}  		
		      	</div>
	    	</div>
	 	</div>
	</div>
</div>
{% endblock %}